## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
dropped_df = application_df.drop(columns = (['EIN', 'NAME']))
dropped_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
dropped_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [13]:
# Look at APPLICATION_TYPE value counts for binning
application_df_counts = dropped_df.APPLICATION_TYPE.value_counts()
application_df_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [14]:
cutoff_value = 10

application_types_to_replace = application_df_counts[application_df_counts  < cutoff_value].index.tolist()
application_types_to_replace

['T25', 'T14', 'T29', 'T15', 'T17']

In [16]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value = 10

application_types_to_replace = application_df_counts[application_df_counts <= cutoff_value].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    dropped_df['APPLICATION_TYPE'] = dropped_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
dropped_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
T12         27
T2          16
Other       11
Name: APPLICATION_TYPE, dtype: int64

In [17]:
# Look at CLASSIFICATION value counts for binning
classification_df = dropped_df['CLASSIFICATION'].value_counts()
classification_df

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [18]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_filtered = classification_df[classification_df > 1]
classification_filtered

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [31]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_value = 10

classifications_to_replace = classification_df[classification_df <= cutoff_value].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
  dropped_df['CLASSIFICATION'] = dropped_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
binned_df = dropped_df['CLASSIFICATION'].value_counts()
binned_df

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
Other      118
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
Name: CLASSIFICATION, dtype: int64

In [20]:
print(dropped_df.dtypes)
print()
print(dropped_df.columns)
print()
print(dropped_df.nunique())

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

Index(['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'STATUS', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS',
       'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

APPLICATION_TYPE            13
AFFILIATION                  6
CLASSIFICATION              28
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [32]:
copy_df = dropped_df.copy()
copy_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [33]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummy_df = pd.get_dummies(copy_df[['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'STATUS', 'SPECIAL_CONSIDERATIONS', 'IS_SUCCESSFUL']])
application_dummy_df.sample(10)

,STATUS,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,...,USE_CASE_Heathcare,USE_CASE_Other,USE_CASE_Preservation,USE_CASE_ProductDev,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
6600,1,1,0,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,1,1,0
1106,1,1,0,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,1,1,0
749,1,0,0,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,1,1,0
21879,1,0,0,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,1,1,0
22086,1,1,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,1,0
2769,1,1,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,1,0
34107,1,0,0,0,0,0,0,0,0,1,...,0,0,0,1,1,0,0,0,1,0
29128,1,1,0,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,1,1,0
24450,1,1,0,0,0,0,0,0,1,0,...,0,0,1,0,1,0,0,0,1,0
14820,1,0,0,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,1,1,0

In [46]:
# Split our preprocessed data into our features and target arrays
X = application_dummy_df.drop(columns = ['IS_SUCCESSFUL'])

y = application_dummy_df['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [47]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [65]:
print(X_train.shape)

(25724, 59)

In [66]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
num_features = 59

model_1 = tf.keras.models.Sequential()

# First hidden layer
model_1.add(tf.keras.layers.Dense(units=3, activation="relu", input_dim = num_features))

# Second hidden layer
model_1.add(tf.keras.layers.Dense(units=3, activation="relu"))

# Output layer
model_1.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
model_1.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_15 (Dense)            (None, 3)                 180

 dense_16 (Dense)            (None, 3)                 12

 dense_17 (Dense)            (None, 1)                 4

=================================================================
Total params: 196
Trainable params: 196
Non-trainable params: 0
_________________________________________________________________

In [67]:
# Compile the model
model_1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [68]:
# Train the model
model_1.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.6525 - accuracy: 0.6518
Epoch 2/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6051 - accuracy: 0.6950
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5913 - accuracy: 0.7031
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5773 - accuracy: 0.7197
Epoch 5/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5740 - accuracy: 0.7201
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5732 - accuracy: 0.7208
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5723 - accuracy: 0.7210
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5714 - accuracy: 0.7206
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5712 - accuracy: 0.7206
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5706 - accuracy: 0.7209
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5705 - accuracy: 0.7209
Epoch 12/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5706 - accuracy: 0.7209
Epoch 13/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5704 - accuracy: 0.7206
Epoch 14/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5702 - accuracy: 0.7206
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5700 - accuracy: 0.7208
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5697 - accuracy: 0.7208
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5695 - accuracy: 0.7213
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5695 - accuracy: 0.7217
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5695 - accuracy: 0.7207
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5693 - accuracy: 0.7213
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5686 - accuracy: 0.7215
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5682 - accuracy: 0.7214
Epoch 23/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5679 - accuracy: 0.7219
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5670 - accuracy: 0.7225
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5669 - accuracy: 0.7230
Epoch 26/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5668 - accuracy: 0.7224
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5667 - accuracy: 0.7230
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5666 - accuracy: 0.7225
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5666 - accuracy: 0.7222
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5667 - accuracy: 0.7221
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5664 - accuracy: 0.7231
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5664 - accuracy: 0.7230
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5662 - accuracy: 0.7225
Epoch 34/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5660 - accuracy: 0.7218
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5661 - accuracy: 0.7226
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5658 - accuracy: 0.7238
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5654 - accuracy: 0.7233
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5656 - accuracy: 0.7224
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5656 - accuracy: 0.7219
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5654 - accuracy: 0.7233
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5652 - accuracy: 0.7237
Epoch 42/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5652 - accuracy: 0.7234
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5653 - accuracy: 0.7227
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5654 - accuracy: 0.7227
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5653 - accuracy: 0.7220
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5650 - accuracy: 0.7222
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5652 - accuracy: 0.7222
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5654 - accuracy: 0.7238
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5652 - accuracy: 0.7224
Epoch 50/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5650 - accuracy: 0.7237
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5647 - accuracy: 0.7234
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5647 - accuracy: 0.7241
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5646 - accuracy: 0.7238
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5646 - accuracy: 0.7236
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5647 - accuracy: 0.7238
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5645 - accuracy: 0.7227
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5647 - accuracy: 0.7245
Epoch 58/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5648 - accuracy: 0.7245
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5647 - accuracy: 0.7254
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5644 - accuracy: 0.7248
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5646 - accuracy: 0.7244
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5642 - accuracy: 0.7255
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5644 - accuracy: 0.7259
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5643 - accuracy: 0.7254
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5644 - accuracy: 0.7255
Epoch 66/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5644 - accuracy: 0.7252
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5641 - accuracy: 0.7255
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5643 - accuracy: 0.7255
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5643 - accuracy: 0.7251
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5641 - accuracy: 0.7252
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5643 - accuracy: 0.7249
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5642 - accuracy: 0.7257
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5640 - accuracy: 0.7250
Epoch 74/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5642 - accuracy: 0.7257
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5641 - accuracy: 0.7255
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5640 - accuracy: 0.7259
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5643 - accuracy: 0.7252
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5640 - accuracy: 0.7255
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5643 - accuracy: 0.7254
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5640 - accuracy: 0.7256
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5639 - accuracy: 0.7254
Epoch 82/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5639 - accuracy: 0.7257
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5638 - accuracy: 0.7251
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5640 - accuracy: 0.7257
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5640 - accuracy: 0.7253
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5639 - accuracy: 0.7258
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5641 - accuracy: 0.7255
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5640 - accuracy: 0.7258
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5639 - accuracy: 0.7257
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5640 - accuracy: 0.7251
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5638 - accuracy: 0.7256
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5637 - accuracy: 0.7261
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5642 - accuracy: 0.7252
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5640 - accuracy: 0.7255
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5639 - accuracy: 0.7255
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5638 - accuracy: 0.7256
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5638 - accuracy: 0.7259
Epoch 98/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5638 - accuracy: 0.7247
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5637 - accuracy: 0.7256
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5637 - accuracy: 0.7252

In [69]:
# Evaluate the model using the test data
model_loss, model_accuracy = model_1.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5677 - accuracy: 0.7275 - 483ms/epoch - 2ms/step
Loss: 0.5676711797714233, Accuracy: 0.7274635434150696

In [71]:
# Export our model to HDF5 file
model_1.save("AlphabetSoupCharity.h5")